/* shared styles */
.r{
    color: #FD6E0A;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.btn{
    background: #FD6E0A;
    border-radius: 5px;
    padding: 16px 32px;
    border: 0;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    color: #fff;

}
.common-heading{
color:  #181818;
text-align: center;
font-size: 35px;
font-weight: 700;

}
.common-kotha{
 color:  #757575;
text-align: center;
font-size: 18px;
font-weight: 400;
}

/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 51px;
    
    
}
nav li a{
    text-decoration: none;
    color: #474747;
}
nav h3{
    
font-style: normal;
font-weight: 800;
font-size: 30px;
}
header{
    background: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 730px;
    margin-left: 65px;
}
.banner{
    padding: 30px 30px 0px 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.banner-content{
    max-width: 500px;
    justify-content: space-between;
}
.banner img{
    width: 500px;
    margin-right: 40px;
   
}
.banner-greeting{
color:  #474747;

font-size: 45px;

font-weight: normal;

    
}
.banner-heading{
    color:  #181818;

font-size: 85px;

font-weight: 700;



}
.banner-desc{
    margin-bottom: 70px;
}
.about{
    padding: 160px;
    border-radius: 10px;
    background: #FFF8F3;
}
.Contract-conteiner{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.contracts{
    text-align: center;
    margin-right: 30px;
}
.what-i{
    padding: 0 160px;
}
.skill-conteiner{
    display: flex;
    text-align: center;
    padding: 160px;
   
}
.hh4{
    margin-right: 10px;
    padding: 50px;
}
/* resume part */
.resume-conteiner{
    display: flex;
    justify-content: space-between;
    padding: 0px 160px;
    align-items: center;
    gap: 20px;
   
}
.resummee{
    padding: 0px 50px;}

    
.resummee h3{
    margin-right: 140px;
    text-align: left;
    
}
.cv-btn{
    background: #FD6E0A;
    border-radius: 5px;
    padding: 16px 32px;
    border: 0;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 50px 40%;
}
.footers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
   
}
#footer-kotha{
   
   display: block;
   color: var(--Dark-02, #474747);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
margin-left: 90px;
}
.footer-heading{
    margin-right: 200px;
    
}
#foothead{
    margin-bottom: 120px;
    margin-left: 120px;
    
}
.footer-second{
   margin-right: 300px;
}
input{
   border: none;
   margin-bottom: 20px;
   height: 40px;
   
}
textarea{
    border: none;
}
.btn-subbb{
    border-radius: 5px;
    background: #FD6E0A;
    width: 150px;
    height: 64px;
    flex-shrink: 0;
    border: none;
    color: wheat;
    
}
.btn-submit{
    margin-top: 50px;
    margin-left: 190px;
}